body {
  margin: 0;
  width: 100%;
}

.bg {
  background-image: url("../images/bg 1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  padding: 30px;
  height: 100vh;
}
.bg3 {
  background-image: url("../images/bg 3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px;
}

h2 {
  text-align: left;
  margin-top: 100px;
  color: WHITE;
}

h3 {
  text-align: center;
  margin: 10px;
}

strong {
  padding: 10px;
  text-align: center;
  align-items: center;
}

#appointment {
  width: 150px;
  background-color: grey;
  padding: 6px;
}

#learnmore {
  width: 150px;
  background-color: transparent;
  border: 2px solid white;
  padding: 14px;
}
.col1 {
  background-color: transparent;
  padding: 60px;
  margin: 25px;
  border: 2px solid whitesmoke;
  height: 300px;
  text-align: center;
  box-shadow: 3px 3px 4px grey;
  border-radius: 10px;
}
.col2 {
  background-color: transparent;
  padding: 10px;
  margin: 35px;
  border: 2px solid whitesmoke;
  height: 300px;
  text-align: center;
  box-shadow: 2px 2px 3px grey;
  border-radius: 10px;
}

.col3 {
  background-color: transparent;
  padding: 30px;
  margin: 35px;
  height: 400px;
  text-align: center;
}

.book {
  width: 150px;
  background-color: #55bee4;
  border: 2px solid white;
  padding: 10px;
  margin-top: 25px;
}

.contact {
  width: 150px;
  background-color: #55bee4;
  border: 2px solid white;
  padding: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .mt-2 {
    font-size: small;
  }
  h2 {
    margin-top: 10px;
    font-size: medium;
  }
  .col1 {
    margin-top: 1px;
    width: fit-content;
  }
  .col2 {
    width: 100%;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
